.usermenu__wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 4px 40px 0 0;
}
.usermenu__text {
  font-size: 16px;
  font-family: 'Dosis', sans-serif;
  text-decoration: none;
  color: rgb(136, 129, 129);
  transition: all 100ms ease;
}
.usermenu__name {
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
}
.usermenu__btn {
  font-family: 'Dosis', sans-serif;
  border: 1px solid rgb(206, 205, 205);
  margin-bottom: 5px;
  padding: 5px 10px;
  color: rgb(136, 129, 129);
  background-color: white;
  transition: all 100ms ease;
}
.usermenu__btn:hover,
.usermenu__btn:focus {
  color: black;
  font-weight: 600;
  transform: scale(1.2);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 4px 2px 4px -10px, rgba(0, 0, 0, 0.2) -2px -1px 0px inset;
}
